streamlit==1.45.1
folium==0.19.5
streamlit-folium==0.25.0
numpy==1.26.4
pandas==2.2.3
opencv-python-headless==4.11.0.86
scikit-image==0.25.2
rasterio==1.4.3
geopandas==1.0.1
shapely==2.1.0
pyproj==3.7.1
matplotlib==3.10.1
langchain==0.3.25
langchain-core==0.3.58
langchain-community==0.3.23
langchain-openai==0.3.16
chromadb==0.6.3
pysqlite3-binary==0.5.4
reportlab==4.4.0
openai==1.79.0
